/********** GENERAL **********/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}



/********** UTILITIES **********/
.container {
    width: 100%;
    padding: 30px;
}

img {
    width: 100%;
}



/********** FLEX **********/
.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
}

.column {
    width: 100%;
}



/********** HEADER **********/
header {
    background-color: #0084fd;
    color: white;
    /* padding: 20px; */
}

/* HAMBURGER MENU' */
.hamburger-menù {
    font-size: 1.5rem;
}

.hamburger-menù ul {
    display: none;
}

/* HAMBURGER MENU' */



/********** MAIN **********/

/* GET A DEMO */
#demo .card {
    display: flex;
    flex-direction: column;
    background-color: #b5ddff;
    border-radius: 15px;
    padding: 40px;
    margin-bottom: 25px;
}

#demo h2 {
    font-size: 1.4rem;
    padding-bottom: 20px;
    color: #0084fd;
}

#demo p {
    color: #5a6e7f;
    padding-bottom: 30px;
}

#demo button {
    width: 75%;
    background-color: #0084fd;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 5px 40px;
    font-size: 1rem;
    margin-bottom: 30px;
}

#demo .column:first-child .card {
    padding-bottom: 0;
}

button i {
    padding-right: 10px;
}

.icon {
    color: #0084fd;
    text-align: center;
}

.icon i {
    font-size: 5rem;
    padding-bottom: 10px;
}

/* end GET A DEMO */


/* STRATEGIC PLANNING */
#planning {
    background-color: #9792e4;
    color: white;
}

#planning .card {
    padding: 40px 25px;
}

#planning img {
    width: 100%;
    margin-bottom: 50px;
}

#planning h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

#planning h3 {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.app-development {
    background-color: white;
    color: black;
    margin: 20px;
    border-radius: 50px;
    text-align: center;
}

.app-development p {
    font-style: italic;
}

.app-development i {
    border-radius: 50%;
    border: none;
    background-color: #9792e4;
    color: black;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    vertical-align: middle;
    font-size: .9rem;
}

/* end STRATEGIC PLANNING */


/* PARTNERS */
#partners {
    background-color: white;
    text-align: center;
    padding: 20px 0px;
}

#partners h2 {
    margin: 25px 0px;
    font-size: 2rem;
    color: #9792e4;
}

.intro-testimonials p {
    font-size: 1.2rem;
    padding: 0px 30px 20px;
}

.testimonials {
    background-color: #9792e4;
    color: white;
    margin: 20px;
    padding: 30px;
    border-radius: 40px;
}

.testimonials img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.testimonials-reviews p:first-child {
    font-size: 1.3rem;
    padding: 20px 0px;
}

/* end PARTNERS */


/* BENEFITS */
.benefits-list button,
#benefits {
    background-color: #9792e4;
    color: white;
}

#benefits h2 {
    text-align: center;
    font-size: 2rem;
    padding: 30px 0px;
}

.benefits-list {
    background-color: white;
    color: black;
    border-radius: 40px;
    margin: 20px;
    padding: 20px 30px;
}


.benefits-list h3,
.benefits-list h4 {
    color: #9792e4;
    padding: 15px 0px;
}

.benefits-list h3 {
    font-size: 3rem;
}

.benefits-list h4 {
    font-size: 1.5rem;
}

.benefits-list button {
    width: 50%;
    border-radius: 20px;
    border: none;
    padding: 5px 40px;
    font-size: 1rem;
    margin: 20px 0px;
}

/* end BENEFITS */


/* ABOUT US */
#about-us {
    background-color: white;
    color: #9792e4;
}

#about-us h2 {
    font-size: 2.5rem;
    padding-bottom: 30px;
}

.us-introduction p {
    color: black;
    font-size: 1.2rem;
    line-height: 2;
    padding: 30px 0px;
}

.us-employee img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
    top: 0;
    left: 150px;
    font-size: 4rem;
}

.us-employee p {
    font-size: 2em;
    padding: 20px 0px;
}

.us-employee button {
    background-color: #9792e4;
    color: white;
    width: 75%;
    border-radius: 20px;
    border: none;
    padding: 10px;
    font-size: 1rem;
    margin: 20px 0px;
}

/* end ABOUT US */


/* GET STARTED */
#get-started {
    background-color: #9792e4;
    color: white;
}

.cta {
    display: grid;
    row-gap: 20px;
    text-align: center;
}

.cta h3 {
    font-size: 1.8rem;
}

.cta h2 {
    font-size: 4rem;
    color: #fdc15f;
}

.cta button {
    background-color: white;
    color: #9792e4;
    border-radius: 25px;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
}

.cta a {
    color: white;
}

/* end GET STARTED */



/********** FOOTER ***********/
footer {
    background-color: #333333;
    color: white;
}

.info {
    display: grid;
    row-gap: 60px;
    text-align: center;
}





/********** MEDIAQUERY **********/

/* 768px */
@media screen and (min-width: 768px) {
    #demo .card {
        height: 100%;
    }

    #demo .column {
        width: calc(100% / 3);
        padding-left: 15px;
        padding-right: 15px;
    }

    #demo .column:first-child {
        width: calc(100% / 3 * 2);
    }

    #demo button,
    #demo img {
        width: 50%;
    }

    #planning h2 {
        font-size: 4rem;
    }

    .testimonials {
        display: flex;
        text-align: left;
        align-items: center;
    }

    .testimonials img {
        margin-right: 30px
    }

    .testimonials-reviews {
        margin-bottom: 40px;
    }

    .flex-benefits-list {
        display: flex;
        flex-wrap: wrap;
    }

    .benefits-list {
        width: calc(100% / 2 - 40px);
    }

    .us {
        display: flex;
        margin: 20px;
    }

    .us-introduction {
        margin-right: 80px;
    }

    .us-employee button {
        width: 100%;
    }

    #get-started .container,
    footer .container {
        max-width: 600px;
        margin: 0 auto;
    }
}



/* 1200px */
@media screen and (min-width: 1200px) {
    .container {
        max-width: 1000px;
        margin: 0 auto;
    }

    .hamburger-menù i {
        display: none;
    }

    .hamburger-menù ul {
        display: flex;
    }

    .hamburger-menù li {
        display: inline-block;
        padding-right: 20px;
        font-size: 1.3rem;
    }

    .hamburger-menù button {
        border-radius: 20px;
        border: none;
        padding: 10px;
        background-color: white;
        color: black;
        font-size: 1rem;
    }

    #planning {
        padding: 50px 0px;
    }

    #planning .column {
        display: flex;
    }

    #planning .plan {
        width: calc(100% / 2);
    }

    #planning h2 {
        margin: 50px 0px;
        font-size: 2rem;
        text-align: left;
    }

    #planning .app-development {
        width: calc(100% / 2);
        align-self: flex-end;
    }

    #planning .app-development img {
        width: 65%;
    }

    #planning .column {
        display: flex;
    }

    .benefits-list {
        width: calc(100% / 3 - 40px);
    }

}