/********** GENERAL **********/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}



/********** UTILITIES **********/
.container {
    width: 100%;
    padding: 30px;
}

img {
    width: 100%;
}


/********** FLEX **********/
.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
}

.column {
    width: 100%;
}


/********** HEADER **********/
header {
    background-color: #0084fd;
    color: white;
    /* padding: 20px; */
}

/* HAMBURGER MENU' */
.hamburger-menù {
    font-size: 1.5rem;
}

.hamburger-menù ul {
    display: none;
}

/* HAMBURGER MENU' */






/********** MAIN **********/

/* GET A DEMO */
#demo .card {
    display: flex;
    flex-direction: column;
    background-color: #b5ddff;
    border-radius: 15px;
    padding: 40px;
    margin-bottom: 25px;
}

#demo h2 {
    font-size: 1.4rem;
    padding-bottom: 20px;
    color: #0084fd;
}

#demo p {
    color: #5a6e7f;
    padding-bottom: 30px;
}

#demo button {
    width: 75%;
    background-color: #0084fd;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 5px 40px;
    font-size: 1rem;
    margin-bottom: 30px;
}

#demo .column:first-child .card {
    padding-bottom: 0;
}

button i {
    padding-right: 10px;
}

.icon {
    color: #0084fd;
    text-align: center;
}

.icon i {
    font-size: 5rem;
    padding-bottom: 10px;
}

/* end GET A DEMO */


/* STRATEGIC PLANNING */
#planning {
    background-color: #9792e4;
    color: white;
}

#planning .card {
    padding: 40px 25px;
}

#planning img {
    width: 100%;
    margin-bottom: 50px;
}

#planning h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

#planning h3 {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.app-development {
    background-color: white;
    color: black;
    margin: 20px;
    border-radius: 50px;
    text-align: center;
}

.app-development p {
    font-style: italic;
}

.app-development i {
    border-radius: 50%;
    border: none;
    background-color: #9792e4;
    color: black;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    vertical-align: middle;
    font-size: .9rem;
}

/* end STRATEGIC PLANNING */





/********** FOOTER ***********/






/********** MEDIAQUERY **********/

@media screen and (min-width: 768px) {
    #demo .card {
        height: 100%;
    }

    #demo .column {
        width: calc(100% / 3);
        padding-left: 15px;
        padding-right: 15px;
    }

    #demo .column:first-child {
        width: calc(100% / 3 * 2);
    }

    #demo button,
    #demo img {
        width: 50%;
    }

    #planning h2 {
        font-size: 4rem;
    }
}




@media screen and (min-width: 1200px) {
    .container {
        max-width: 1000px;
        margin: 0 auto;
    }

    .hamburger-menù i {
        display: none;
    }

    .hamburger-menù ul {
        display: flex;
    }

    .hamburger-menù li {
        display: inline-block;
        padding-right: 20px;
        font-size: 1.3rem;
    }

    .hamburger-menù button {
        border-radius: 20px;
        border: none;
        padding: 10px;
        background-color: white;
        color: black;
        font-size: 1rem;
    }

    #planning {
        padding: 50px 0px;
    }

    #planning .column {
        display: flex;
    }

    #planning .plan {
        width: calc(100% / 2);
    }

    #planning h2 {
        margin: 50px 0px;
        font-size: 2rem;
        text-align: left;
    }

    #planning .app-development {
        width: calc(100% / 2);
        align-self: flex-end;
    }

    #planning .app-development img {
        width: 65%;
    }

    #planning .column {
        display: flex;
    }
}