/********** GENERAL **********/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}



/********** UTILITIES **********/
.container {
    width: 100%;
    padding: 30px;
}

img {
    width: 100%;
}


/********** FLEX **********/
.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
}

.column {
    width: 100%;
}


/********** HEADER **********/
header {
    background-color: #0084fd;
    color: white;
    /* padding: 20px; */
}

/* HAMBURGER MENU' */
.hamburger-menù {
    font-size: 1.5rem;
}

.hamburger-menù ul {
    display: none;
}

/* HAMBURGER MENU' */






/********** MAIN **********/

/* GET A DEMO */
#demo .card {
    display: flex;
    flex-direction: column;
    background-color: #b5ddff;
    border-radius: 15px;
    padding: 40px;
    margin-bottom: 25px;
}

#demo h2 {
    font-size: 1.4rem;
    padding-bottom: 20px;
    color: #0084fd;
}

#demo p {
    color: #5a6e7f;
    padding-bottom: 20px;
}

#demo button {
    background-color: #0084fd;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 10px 60px;
    font-size: 1rem;
    margin-bottom: 20px;
}

#demo .column:first-child .card {
    padding-bottom: 0;
}

button i {
    padding-right: 10px;
}

.icon {
    color: #0084fd;
    text-align: center;
}

.icon i {
    font-size: 5rem;
    padding-bottom: 10px;
}

/* end GET A DEMO */


/* STRATEGIC PLANNING */
#planning .card {
    background-color: #9792e4;
    padding: 40px 25px;
}

#planning:first-child img {
    width: 90%;
}

/* end STRATEGIC PLANNING */





/********** FOOTER ***********/






/********** MEDIAQUERY **********/

@media screen and (min-width: 768px) {}


@media screen and (min-width: 1200px) {
    .container {
        max-width: 1000px;
        margin: 0 auto;
    }

    .hamburger-menù i {
        display: none;
    }

    .hamburger-menù ul {
        display: flex;
    }

    .hamburger-menù li {
        display: inline-block;
        padding-right: 20px;
        font-size: 1.3rem;
    }

    .hamburger-menù button {
        border-radius: 20px;
        border: none;
        padding: 10px;
        background-color: white;
        color: black;
        font-size: 1rem;
    }
}